html, body{
margin: 0px;
padding: 0;
height: 100%;
text-align: center;
}

section{
    min-height: 100%;
}

a{
    text-decoration: none;
    color: rgb(68, 66, 66); /* nu r mal zur Probe muss angepast werden final*/
}

li{
   list-style-type: none;
}

h1, h2, h3, h4{ 
    font-family: 'Arial', sans-serif; /* Finde Arial ganz schick */
    color: grey;
    padding-top: 5%;
    text-transform: uppercase;

}

a{
    font-family: 'Arial', sans-serif;
}

.menu{
    background-color: grey;
    height: 50px;
    text-align: center;
}
.menu li{
    
    padding: 20px;
    display: inline;
    list-style-type: none;
}

.home video{
    position: absolute;
    
  
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    
    
    opacity: 0.8;
    
}