html, body {
    margin: 0px;
    padding: 0;
    height: 100%;
    text-align: center;
    
    scroll-behavior: smooth; /*macht er das jetzt dadurch o9der nicht?*/
    scroll-padding: 0; /* nicht nötig */
    font-family: Arial, Helvetica, sans-serif;
    }

    section {
        min-height: 100%;
    }
    
    a { 
        text-decoration: none;
        color: rgb(255, 255, 255); /* nu r mal zur Probe muss angepast werden final*/
    }
    
    li {
       list-style-type: none;
    }
    
    h1,h2,h3,h4{  
        font-family: 'Arial', sans-serif; /* Finde Arial ganz schick */
        color: grey;
        
        text-transform: uppercase;
    
        padding-top: 75px;
    }
    
    a {
        font-family: 'Arial', sans-serif;
    }
    
    hr {
       height: 3px; 
       background:grey;
       border: 0px;
       margin: 0 auto 0 auto;
    }
    #video  {
        position: auto;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-color: rgb(159, 255, 255);
     
    }

    #video video {
        position: auto;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.8;
     
    }
    
    li, #logo {transition: all 350ms; -webkit-transition: all 350ms; -moz-transition: all 350ms; -o-transition: all 350ms;} /*BROWSERSUPPORT*/
    
    /* Pfeil-Runter muss gestyled weden und an die Höhe Fixiert werden*/
    
    /* HEADER *******************************************************************************************************************************/
    
    header {
    
        width: 100%;
        height: 50px;
        position: fixed;
        top: 10px;
        left: 0px;
        right: 0px;
        background: blue;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.6);
        z-index: 1;
    
    }
    
    #logo {
        width: auto;
        float: left;
        margin: 5px 0 0 5px;
    }
    
    #logo:hover {   /* blurry out by hovering*/
            opacity: 0.75;
    }
    
    #logo img {
        width: 90%;
    }
    
    header nav {
        float: right;
        margin: 0px 10px 0px 0px;
    
    }
    
    header nav ul li:hover {   /* blurry out by hovering*/
        opacity: 0.75;
        padding-top: 5px;
        transition: all 200ms;
    }
    
    header nav ul li{
        float: left;
        margin-right: 15px;
    } 

/* Über Uns------------------------------------------------------------------------------------------------------------------------*/

#ueberUns {
    position: auto;
    background-color: burlywood;
    
}
#ueberUns h1{
    font-family: 'Arial', sans-serif; /* Finde Arial ganz schick */
    color: grey;
    
    text-transform: uppercase;

    padding-top: 75px;
}

.inhalt img {
    
    width: 50%;
    height: 50%;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.inhalt {
   
    padding-left: 30px;
    padding-top: 50px;
    padding-right: 30px;
}
.inhalt h1 {
  
    padding-left: 20px;
    padding-top: 50px;
    padding-right: 10px;
}
.inhalt{
    margin: auto;
    display: flex;
    width: 70%;
    height: 100%;
    
    background-color: rgb(255, 255, 255,0.5);
}

/* Angebote--------------------------------------------------------------------------------------------------------*/

#angebot{
       
        background-color: burlywood;
}
/* Kontakte--------------------------------------------------------------------------------------------------------*/

#kontaktUndOeffnungszeiten{
    background-color: burlywood;
    width: 100%;
    height: 100%;
    margin-bottom: -16px;
}

.inhalt2 p{
  
    padding-left: 30px;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
}

.inhalt2{
    margin: auto;
    display: flex;
    width: 70%;
    height: 100%;
    
    background-color: rgb(255, 255, 255,0.5);
   
}

/* Impressum--------------------------------------------------------------------------------------------------------*/
#impressum {
    position: auto;
    background-color: burlywood;
}
#inhalt-imp h4{ /* Überschrift will sich nicht stylen lassen finde meinen frehler nicht */
    font-family: 'Arial', sans-serif; /* Finde Arial ganz schick */
    color: grey;
    
    text-transform: uppercase;

    padding-top: 75px;
}

.inhalt_imp {
   
    padding-left: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.inhalt_imp h4 {
  
    padding-left: 20px;
    padding-top: 50px;
    padding-right: 10px;
}
.inhalt_imp{
    margin: auto;
    display: flex;
    width: 70%;
    height: 100%;
    
    background-color: rgb(255, 255, 255,0.5);
}

.inhalt_imp p{
margin: auto;
}

/* Footer--------------------------------------------------------------------------------------------------------*/

footer{
    margin-top: 0px;
    width: 100%;
    height: 150px;
    background-color: turquoise;
}