@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

html, body {
    min-width: 1280px;
    max-width: 100%;
    min-height: 800px;
 
	margin: 0px;
    padding: center;
    

    
    
    scroll-behavior: smooth; /*macht er das jetzt dadurch o9der nicht?*/
    scroll-padding: 0; /* nicht nötig */
    font-family: Arial, Helvetica, 'Secular One', sans-serif;;
    }

    section {
        min-height: 800px;
        max-height: 100%;
    }
    
    a { 
        text-decoration: none;
        color: rgb(255, 255, 255); /* nu r mal zur Probe muss angepast werden final*/
    }
    p{
        font-family: 'Secular One', sans-serif;
    }
    li {
       list-style-type: none;
    }
    
    h1,h3,h4{  
        font-family: 'Secular One', sans-serif; /* Finde Arial ganz schick */
        color: #0C3274;
        font-size: 50px;
        text-transform: uppercase;
        text-align: center;
        padding-top: 75px;
        
    }
    
    a {
        font-family: 'Secular One', sans-serif;
        font-size: 22px;
    }
    
    hr {
       height: 3px; 
       background:grey;
       border: 0px;
       margin: 0 auto 0 auto;
    }
    #video  {
        
        top: 0;
        left: 0;
        width: 100%;
        
        object-fit: cover;
        background-color: burlywood;
     
    }

    #video video {
        
        top: 0;
        left: 0;
        width: 100%;
        min-height: 800px;
        height: 100%;
        object-fit: cover;
        opacity: 1;
     
    }
    
    li, #logo {transition: all 350ms; -webkit-transition: all 350ms; -moz-transition: all 350ms; -o-transition: all 350ms;} /*BROWSERSUPPORT*/
    
    /* Pfeil-Runter muss gestyled weden und an die Höhe Fixiert werden*/
    
    /* HEADER *******************************************************************************************************************************/
    
    header {
    
        width: 100%;

        height: 50px;
        position: fixed;
        top: 10px;
        left: 0px;
        right: 0px;
        background: #0C3274;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.6);
        z-index: 1;
    
    }
    
    #logo {
        width: auto;
        float: left;
        margin: 55px 0 0 15px;
    }
    
    #logo:hover {   /* blurry out by hovering*/
            opacity: 0.75;
    }
    
    #logo img {
        width: 120%;
    }
    
    header nav {
        
        float: right;
        margin: 0px 10px 0px 0px;
    
    }
    
    header nav ul li:hover {   /* blurry out by hovering*/
        opacity: 0.75;
        padding-top: 5px;
        transition: all 200ms;
    }
    
    header nav ul li{
        float: left;
        margin-right: 15px;
    } 

/* Über Uns------------------------------------------------------------------------------------------------------------------------*/

#ueberUns {
    position: auto;
    background-color: burlywood;
    
}
#ueberUns h1{
     /* Finde Arial ganz schick */
    
    text-align: center;
    text-transform: uppercase;
    
    padding-top: 75px;
}
#ueberUns h3 {
    display:flex;
     /* Finde Arial ganz schick */
    
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    
    padding-top: 75px;
}
.picture{
    display: flex;
    justify-content: center;
}
.picture img{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    width: 511px;
    height: 350px;
    
    
}

.linie{
    padding-top: 50px;
}
.inhalt p{
    font-size: 25px;
    text-align: center;
    justify-content: center;
}
.inhalt{
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 70%;
    height: 100%;
    
   
}

/* Angebote--------------------------------------------------------------------------------------------------------*/




#angebot{
    padding-left: auto;
    padding-right: auto;
    padding-top: -100px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
    background-color: burlywood;
    margin-top: -120px;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: auto;
}



.pictures {
    width: 800px;
    height: 500px;
    overflow: hidden;
    
}
.slide{
   
    width: 500%;
    height: 500px;
    display:flex;
}
.slide input{
    display:none;

}
.st{
    width: 20%;
    transition: 2s;
}
.st img{
    width: 800px;
    height: 500px;
    justify-content: center;
    align-items: center; 
}
.nav-m{
    position: absolute;
    width: 800px;
    margin-top:-40px;
    justify-content: center;
    display: flex;
}
.m-btn{
    border: 2px solid rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.m-btn:not(:last-child){
 margin-right: 30px;

}
.m-btn:hover{
    background-color: rgb(255, 255, 255);

}
#radio1:checked ~.first{
    margin-left: 0;

}
#radio2:checked ~.first{
    margin-left: -20%;
    
}
#radio3:checked ~.first{
    margin-left: -40%;
    
}
#radio4:checked ~.first{
    margin-left: -60%;
    
}
#radio5:checked ~.first{
    margin-left: -80%;
    
}

.nav-auto{
    position: absolute;
    width: 800px;
    margin-top: 460px;
    display: flex;
    justify-content: center;
}
.nav-auto div{
    border:2px solid black;
    padding: 5px;
    border-radius: 10px;
    transition: 5s;
}

.nav-auto div:not(:last-child){
    margin-right: 30px;
    justify-content: center;
}
#radio1:checked ~ .nav-auto .a-b1{
    background-color: rgb(0, 0, 0);


}
#radio2:checked ~ .nav-auto .a-b2{
    background-color: rgb(0, 0, 0);
    

}
#radio3:checked ~ .nav-auto .a-b3{
    background-color: rgb(0, 0, 0);
    

}
#radio4:checked ~ .nav-auto .a-b4{
    background-color: rgb(0, 0, 0);
    

}
#radio5:checked ~ .nav-auto .a-b5{
    background-color: rgb(0, 0, 0);
    

}

/* Kontakte--------------------------------------------------------------------------------------------------------*/

#kontaktUndOeffnungszeiten{
    background-color: burlywood;
    width: 100%;
    height: 100%;
}
#kontaktUndOeffnungszeiten h3{
    
    text-align: center;
}
.inhalt2 p{

    font-size: 22px;
    text-align: center;
    justify-content: center;
  
}
.inhalt p{
    font-size: 30px;
    text-align: center;
    justify-content: center;
}
.inhalt3 p{
    font-size: 30px;
    text-align: center;
    justify-content: center;
}
.inhalt2{
    margin: auto;
    display: flex;
    width: 100%;
    justify-content: center;
	
    
}  
   

.maps {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
/* Impressum--------------------------------------------------------------------------------------------------------*/
#impressum {
    
    background-color: burlywood;
    
}
#inhalt-imp h4{ /* Überschrift will sich nicht stylen lassen finde meinen frehler nicht */
    font-family: 'Arial', sans-serif; /* Finde Arial ganz schick */
    text-transform: uppercase;
    text-align: center;s
    padding-top: 75px;
}


.inhalt_imp h4 {
    font-size: 40px;
    padding-left: 20px;
    padding-top: 50px;
    padding-right: 10px;
    text-align: center;
}
.inhalt_imp{
    margin: auto;
    display: flex;
    width: 70%;
    height: 100%;
    text-align: center;
    justify-content: center;
    padding-left: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.inhalt_imp p{
    font-size: 25px;
    text-align: center;
    justify-content: center;
}

/* Footer--------------------------------------------------------------------------------------------------------*/
